<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>test</title>
    
    <!-- <link rel="stylesheet" href="../swiper/swiper-3.4.2.min.css"> -->
</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
        </div>
        <!-- 分页器 -->
        <div class="swiper-pagination"></div>
    </div>      

    <!-- <script src="../swiper/swiper-3.4.2.min.js"></script> -->



</body>
</html>