<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>test</title>
    
    <link rel="stylesheet" href="../swiper/swiper-3.4.2.min.css">
    <style>
        .swiper-container{
            height: 300px;
            width: 600px;
        }
    </style>
</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
           <%for(var i=0;i<result.lenght;i++){%>
                <div class="swiper-slide"><img src="<%=reult[i].imgurl>" alt=""></div>
            <%}%>
        </div>
        <!-- 分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 导航按钮 -->


        
        <!-- 滚动条 -->

        </div>
    </div>      

    <script src="../swiper/swiper-3.4.2.min.js"></script>
    <script>
        var mySwiper = new Swiper('.swiper-container',{
            direction:'horizontal',
            loop:true,
            autoplay:3000,
            onClick:function(swiper){
                console.log("click"+swiper.activeIndex);
            },
        })
    </script>
</body>
</html>